<header class="section-header">
    <div class="container padding-tb">
        <div class="row">
            <div class="col-md-4 left">
                <form class="box-input">
                    <input type="text" name="" class="box-input__text" placeholder="Search">
                    <button type="submit" class="box-input__icon">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
            <div class="col-md-4 center">
                <a href="#">
                    <div class="box-logo">
                        <h3 class="box-logo__text">adidas</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-4 right">
                <a href="#" class="btn-icon">
                    <i class="fas fa-sign-in-alt"></i>
                </a>
                <a href="#" class="btn-icon">
                    <i class="fas fa-user"></i>
                </a>
                <a href="#" class="btn-icon btn-icon--badge">
                    <i class="fas fa-shopping-cart"></i>
                    <small>2</small>
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid border-b"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 center">
                <nav>
                    <ul class="menu-list">
                        <li class="menu-list__item active"><a href="#">home</a></li>
                        <li class="menu-list__item"><a href="#">men <i class="fas fa-angle-down"
                                    style="opacity: 0.5;"></i></a>
                            <ul class="menu-list menu-list--child">
                                <li class="menu-list__item"><a href="#">men 's shoes</a></li>
                                <li class="menu-list__item"><a href="#">men 's clothing</a></li>
                            </ul>
                        </li>
                        <li class="menu-list__item"><a href="#">women <i class="fas fa-angle-down"
                                    style="opacity: 0.5;"></i></a>
                            <ul class="menu-list menu-list--child">
                                <li class="menu-list__item"><a href="#">women 's shoes</a></li>
                                <li class="menu-list__item"><a href="#">women 's clothing</a></li>
                            </ul>
                        </li>
                        <li class="menu-list__item"><a href="#">kids <i class="fas fa-angle-down"
                                    style="opacity: 0.5;"></i></a>
                            <ul class="menu-list menu-list--child">
                                <li class="menu-list__item"><a href="#">kids 's shoes</a></li>
                                <li class="menu-list__item"><a href="#">kids 's clothing</a></li>
                            </ul>
                        </li>
                        <li class="menu-list__item"><a href="#">new arrivals</a></li>
                        <li class="menu-list__item"><a href="#">top</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>