@import "../../../styles.scss";
/*==============
  button
 =============*/
.btn-default {
    display: inline-block;
    padding: $base $md-base;
    background-color: $color-primary-normal;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: background 0.35s, margin 0.35s;
    &:hover {
        box-shadow: 0 5px 20px -7px rgba(0, 0, 0, 0.9);
        background-color: $color-primary-bold;
        margin-top: -2px;
        transition: background 0.35s, margin 0.35s;
    }
}
/*==============
  section-banner
 =============*/
.section-banner {
    display: flex;
    padding: $xs-base 0;
    background-color: $color-blue;
    & h1 {
        font-size: $lg-base;
        width: 60%;
    }
    & p {
        width: 60%;
        opacity: 0.6;
    }
}
